*.exe
*.o
*.out
*.csv

.vscode/

.idea/

*.dat

*.iml
out/

project_java/docs/relatorio.aux

project_java/docs/relatorio.fdb_latexmk

project_java/docs/relatorio.fls

project_java/docs/relatorio.log

*.gz

*.pygtex
